
.navbar-nav {
  margin-left:auto; /* Add margin-left auto to push the items to the right */
}
.navbar-brand{
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;

}
.navbar-brand:hover{
  background-color: #ddd;
}


.nav-item {
  margin-left: 16px; /* Add margin-left to create space between the items */
}


.nav-link {
  margin-right: 36px;
}
/* ================================== */
/* Adventures grid page CSS */
/* ================================== */

.adventures-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  height: 200px;
  overflow: hidden;
  color: rgb(7, 7, 7);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  margin-bottom: 15px;
  flex-basis: calc(25% - 20px);

}
.adventure-card img {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  height: 60%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: 0.2s all;
}
.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  filter: brightness(50%);
  transform: scale(1.0);
}


/* ================================== */
/* Adventure details page CSS */
/* ================================== */

.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgb(0,0,0,0.1);
  padding: 15px;
  overflow: hidden;

}

.adventure-card-image {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
}
.adventure-card-image:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  filter: brightness(50%);
}
.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}


footer {
  left: 0;
  right: 0;
  margin-bottom: 40px;
  transform: translateY(50%);
  text-align: center;
}  
